*.*~
*.swp
*.swo
*.swn
*.pyc
survey.db
django_survey_and_report.egg-info/
survey_test/static/
env
survey_test_bak
.env/
.3env/
.project
.pydevproject
.settings/
htmlcov/
.coverage
build/
dist/
csv/short-survey.csv
csv/test-management-survey.csv
csv/test-survey.csv
tex/q9_vs_q9.png
tex/short-survey.tex
tex/test-management-survey.tex
tex/test-survey.tex
tex/q1_vs_q6.png
tex/test-survey.pdf
